{% extends "dashboard_layout.html" %}
{% block body%}
{% load static %}
<div class="row">
  <nav class="sidenav">
    
    <ul class="navbar-nav mr-auto sidenav-ul">
        <li class="nav-item sidenav-li" style="background-color: #2ad2be50;border-radius:5px; padding:1% 5%;">
            <a class="nav-link" href="{% url 'dashboard_agent' %}"><img src="{% static 'home.svg' %}" class="logo" alt="Home-logo" /><span class="sidenav-span">&nbsp;Home</span></a>
        </li>
        <li class="nav-item sidenav-li">
        <a class="nav-link" href="{% url 'profile_agent' %}"><img src="{% static 'profile.svg' %}" class="logo" alt="Profile-logo" /> <span class="sidenav-span">Profile</span></a>
        </li>
        <li class="nav-item sidenav-li">
        <a class="nav-link " href="{% url 'wallet_agent' %}"><img src="{% static 'wallet.svg' %}" class="logo" alt="Wallet-logo" /><span class="sidenav-span">&nbsp;Wallet</span></a>
        </li>
        <li class="nav-item sidenav-li">
        <a class="nav-link" href="{% url 'notification' %}"><img src="{% static 'notification.svg' %}"class="logo" alt="Notification-logo" /> 
            {% if unreadMsg == 0 %}
            <span class="sidenav-span">Notification</span>
            {% else %}
            <span class="sidenav-span">Notification</span><span class="badge badge-info">{{unreadMsg}}</span>
            {% endif %}
        </a>
        </li>
        <li class="nav-item sidenav-li">
        <a class="nav-link " href="{% url 'signout' %}"><img src="{% static 'logout.svg' %}" class="logo" alt="Logout-logo" /><span class="sidenav-span">&nbsp;Logout</span></a>
        </li>
    </ul>
    <div class="sidenav-ul-mobile">
        <div class="menu-box">
            <a href="{% url 'notification' %}">
                <img src="{% static 'scanner_white.svg' %}" class="logo" alt="Notification-logo" />
                <div class="sidenav-inner-div">Scanner</div>
            </a>
        </div>
        <div class="menu-box">
            <a href="{% url 'wallet_agent' %}">
                <img src="{% static 'wallet-white.svg' %}" class="logo" alt="Wallet-logo" />
                <div class="sidenav-inner-div">Wallet</div>
            </a>
        </div>
        <div class="menu-box">
            <a href="{% url 'dashboard_agent' %}">
                <img src="{% static 'home_green.svg' %}" class="logo" alt="Profile-logo" />
                <div class="sidenav-inner-div">Home</div>
            </a>
        </div>
        <div class="menu-box">
            <a href="{% url 'profile_agent' %}">
                <img src="{% static 'profile-white.svg' %}" class="logo" alt="Profile-logo" />
                <div class="sidenav-inner-div">Profile</div>
            </a>
        </div>
        <div class="menu-box" >
            <a href="{% url 'signout' %}">
                <img src="{% static 'logout-white.svg' %}" class="logo" alt="Logout-logo" />
                <div class="sidenav-inner-div">Logout</div>
            </a>
        </div>
    </div>
  </nav>
  <div class="dashboard-inner" style="float:right">
    
    <div class="row dashboard-home-inner">
        <div class="pull-left">
            {% if error == "0" %}
                <div class='text-center alert alert-info' id="message_div">{{message}}</div>
            {% else %}
                <div class='text-center text-danger' id="message_div">{{message}}</div>
            {% endif %}
            <div class="card dashboard-home-card" >
                <div class="card-body dashboard-home-card-body">
                  <div class="left">
                    <h5 class="card-title" style="font-size:12px;font-weight: bold;">ALLOCATED WASTECOINS</h5>
                    <div >
                        <div ><h2 class="card-subtitle mb-2 text-muted" style="color: #CAD9EE!important;font-size: 1.5rem;"><img src="{% static 'wastecoin-currency.svg' %}" class="logo" alt="allocation-logo" /> {{allocatedWasteCoins.allocatedCoins}}</h2></div>
                    </div>
                    <p class="card-text" style="margin-top:20px;">{{allocatedWasteCoins.month}}</p>
                  </div>
                  <div class="right" style="float: right;">
                    <img src="{% static 'allocation.svg' %}" class="logo" alt="allocation-logo" />
                  </div>
                </div>
            </div>
        </div>
        <div class="pull-right"> 
            <div class="card dashboard-home-card" >
                <div class="card-body dashboard-home-card-body">
                  <div class="left">
                    <h5 class="card-title" style="font-size:12px;font-weight: bold;">EXCHANGE RATE</h5>
                    <h2 class="card-subtitle mb-2 text-muted" style="color: #CAD9EE!important; font-size: 1.9rem;">&pound;{{allocatedWasteCoins.exchangeRate}}</h2>
                    <p class="card-text">{{allocatedWasteCoins.month}}</p>
                  </div>
                  <div class="right" style="float: right;">
                    <img src="{% static 'exchange-rate.svg' %}" class="logo" alt="allocation-logo" />
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row dashboard-home-inner">
        <div class="pull-left">
            <div class="card dashboard-home-card" >
                <div class="card-body dashboard-home-card-body">
                  <div class="left">
                    <h5 class="card-title" style="font-size:12px; font-weight: bold;">Summary</h5>
                    <div class="dashboard-home-card-body">
                        <div class="left" >
                            <p class="card-subtitle mb-2 text-muted" style="color: #CAD9EE!important;">Mined</p>
                            {% load mathfilters %}
                            {% with answer=minedCoins.minedCoin__sum|div:allocatedWasteCoins.allocatedCoins %}
                            <h5 class="card-text" style="color: #1070CA;">
                                 {{ answer|mul:100|floatformat }} %</h5>
                            {% endwith %}
                        </div>
                        <div class="right" >
                            <p class="card-subtitle mb-2 text-muted" style="color: #CAD9EE!important;">Unmined</p>
                            {% load mathfilters %}
                            {% with answeru=minedCoins.minedCoin__sum|div:allocatedWasteCoins.allocatedCoins %}
                            <h5 class="card-text" style="color: #F7545E;">
                                 {{ 1|sub:answeru|mul:100|floatformat }} %</h5>
                            {% endwith %}
                        </div>
                    </div>
                  </div>
                  <div class="right" style="float: right;">
                    <img src="{% static 'allocation.svg' %}" class="logo" alt="allocation-logo" />
                  </div>
                </div>
            </div>
        </div>
        <div class="pull-right"> 
            <div class="card dashboard-home-card" >
                <div class="card-body dashboard-home-card-body">
                  <div class="left">
                    <h5 class="card-title" style="font-size:12px;font-weight: bold;">CARBON FOOTPRINT</h5>
                    <div>
                        <div ><h2 class="card-subtitle mb-2 text-muted" style="color: #CAD9EE!important;font-size: 1.5rem;"><img src="{% static 'carbon_foot_print.svg' %}" class="logo" alt="allocation-logo" /> {{minedCoins.minedCoin__sum|mul:0.033|floatformat:"2"}} CO<sub>2</sub></h2></div>
                    </div>
                    <p class="card-text">{{allocatedWasteCoins.month|floatformat:"2" }}</p>
                  </div>
                  <div class="right" style="float: rigth;">
                    <img src="{% static 'total-waste.svg' %}" class="logo" alt="allocation-logo" />
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile -->
    <div class="dashboard-home-inner-mobile">
        <div class="reg-header text-center"></a>Dashboard</div>
        <div class="col-12">
            {% if error == "0" %}
                <div class='text-center alert alert-info' style="font-size: 0.8rem;" id="message_div_mobile">{{message}}</div>
            {% else %}
                <div class='text-center text-danger' style="font-size: 0.8rem;" id="message_div_mobile">{{message}}</div>
            {% endif %}
            <div class="card" style="width:100%; background-color:#fff; border-radius: 5px 5px 0 0; margin-bottom: 20px;" >
                <div class="card-body " style=" font-family: montserrat;">
                    <div style=" margin-bottom: 30px;;">
                        <!-- <img src="{% static 'thumb_up.svg' %}" class="logo" alt="allocation-logo"  /> -->
                        <h3 class="card-text" style="color: #38C8E8; font-size: 1.35rem;  font-weight: 300;">  
                            {% for item in userman %}
                            Well done! {{item.firstname}}<br/> <span style="font-size: 0.85rem;">You have saved</span>
                        {% endfor %}
                        </h3>
                    </div>
                    <div style="text-align: center;">
                        <img src="{% static 'carbon_foot_print.svg' %}" class="logo" alt="allocation-logo"/>
                        <h3 class="card-text" style="color: #38C8E8; font-size: 1.75rem; font-weight: 300;">  
                            {{minedCoins.minedCoin__sum|mul:0.033|floatformat:"2"}} 
                            <span style="font-size: 0.85rem;">kg CO<sub>2</sub></span>  
                        </h3>
                    </div>
                    <!-- <img src="{% static 'thumb_up.svg' %}" class="logo" alt="allocation-logo" style="float: left;" />
                    <h3 class="card-text" style="color: #fff; font-size: 1.55rem; float: right; font-weight: 300;">  
                        {% for item in userman %}
                        Well done! {{item.firstname}}<br/> <span style="font-size: 1rem;">You have saved</span>
                      {% endfor %}
                    </h3> -->
                    <!-- <br/><br/><br/><br/>
                    <img src="{% static 'carbon_foot_print.svg' %}" class="logo" alt="allocation-logo" style="float: left;" />
                    <h3 class="card-text" style="color: #fff; font-size: 2.55rem; float: right; font-weight: 300;">  
                        {{minedCoins.minedCoin__sum|mul:0.033|floatformat:"2"}} CO<sub>2</sub>
                    </h3> -->
                    <!-- <p class="card-text" style="color: #fff; font-size:0.7rem;">Available WasteCoin for <br>{{allocatedWasteCoins.month}}</p> -->
                    <!-- <div style=" float: left;">
                        <div ><h2 class="card-subtitle mb-2 text-muted" style="color: #CAD9EE!important;font-size: 1.0rem;"></h2></div>
                    </div> -->
                    <!-- <div style="width:120px; float: right; text-align: center; margin-top:-35px;">
                        <h6 class="card-subtitle mb-2 text-muted" style="color: #CAD9EE!important; font-size:0.7rem;">Exchange Rate</h6>
                        <div style="width:50px; height:50px; background-color: #2AD2BE; border-radius: 50%; font-size: 0.8rem; padding-top:15px; font-weight:bold; margin:auto;">&pound;{{allocatedWasteCoins.exchangeRate}}</div>
                    </div>    -->
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-6">
                <div class="card " style="background-color: #38C8E84A;">
                    <div class="card-body " style="padding: 0.5rem 1rem!important;">
                        <div style="width:130px;">
                            <div ><h2 class="card-subtitle mb-2 text-muted" style="color: rgb(120, 122, 126)!important; font-size: 1.0rem;"><img src="{% static 'wastecoin-currency.svg' %}" class="logo" alt="allocation-logo" /> {{minedCoins.minedCoin__sum|floatformat:"2"}}</h2></div>
                        </div>
                        <p class="card-text" style="color: #000; font-weight: 500; font-size: 0.73rem; margin-top: 20px;">Mined <br>WasteCoins</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card" style="background-color: #2AD2BE4A;" >
                    <div class="card-body " style="padding: 0.5rem 1rem!important;">
                        <div style="width:130px;">
                            {% load mathfilters %}
                            <div><h2 class="card-subtitle mb-2 text-muted" style="color: rgb(120, 122, 126)!important;font-size: 1.0rem;"><img src="{% static 'wastecoin-currency.svg' %}" class="logo" alt="allocation-logo" /> {{ allocatedWasteCoins.allocatedCoins|sub:minedCoins.minedCoin__sum |floatformat:"2"}}</h2></div>
                        </div>
                        <p class="card-text" style="color: #000; font-weight: 500; font-size: 0.73rem; margin-top: 20px;">Unmined <br>WasteCoins</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    
  </div>
</div>

{% endblock %}




