{% extends "layout.html" %}
{% block body%}
{% load static %}
<div class="landing_page">
  <!-- START TEAM -->
  <section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 pull-right">
                <div class="team-section-text">
                  <h2 class="section-title">About Us</h2>
                    <div class="section-count">
                        <span>105</span>
                    </div>
                    <!-- END section-count-->
                    <div class="section-text">
                        
                        <p>
                            SDG Innovation Team 105 is a team of dynamic Developers and Data Scientists who are passionate
                            about solving day-to-day challenges using cutting-edge Technologies. One of which is the Wastecoin Project
                            which was developed to reward proper and efficient disposal of non-bioodegradable waste (NBW)
                            right from the source to the recyler. it is an app that leverage on a decentralized coin mining system where every waste miner
                            is rewarded accordingly.
                        </p>
                    </div>
                    <!-- END section-text-->
                </div>
                <!-- END team-section-text-->
            </div>
            <!-- END col-md-5 col-sm-12 pull-right-->
            
        </div>
        <!-- END row-->
    </div>
    <!-- END container-->
</section>
<!-- END team-->
<!-- END TEAM -->
 </div>
{% endblock %}
