{% extends "layout.html" %}
{% block body%}
{% load static %}
<div class="login-card">
  <div class="reg-header text-center"> 
    <a href="{% url 'home' %}" style="color: #fff;">
      <img src="{% static 'left_chevron.svg' %}" class="back-button mobile-logo float-left" alt="logo" />
      </a>
    Reset Password</div>
  <div class="mobile-logo-div" style="margin:auto; width:30%;"><img src="{% static 'wastecoin_logo1.png' %}" class="logo mobile-logo" alt="logo" /></div>
  <div style="text-align: center; font-size: 0.75rem;"><h6>Contact WasteCoin admin at ed@wastecoin.co.uk or 070-000-0000-0</h6></div>
</div>
{% endblock %}


