{% extends "dashboard_layout.html" %}
{% block body%}
{% load static %}
<style>
    #qr-reader__dashboard_section_csr > div > button{
        background: #38C8E8;
        border-radius: 10px;
        width: 80%;
        color:#fff;
        height: 42px;
        margin-top: 78px;
        font-size: 0.75rem;
        border-color: transparent;
    }
    #qr-reader > div > span{
        display: none!important;
    }
    #qr-reader > div{
        border:0!important;
    }
    #qr-reader{
        border:0!important;
    }
</style>
<div class="row">
    <nav class="sidenav">
      
      <ul class="navbar-nav mr-auto sidenav-ul">
          <li class="nav-item sidenav-li" >
              <a class="nav-link" href="{% url 'dashboard' %}"><img src="{% static 'home.svg' %}" class="logo" alt="Home-logo" /><span class="sidenav-span">&nbsp;Home</span></a>
          </li>
          <li class="nav-item sidenav-li">
          <a class="nav-link" href="{% url 'profile' %}"><img src="{% static 'profile.svg' %}" class="logo" alt="Profile-logo" /> <span class="sidenav-span">Profile</span></a>
          </li>
          <li class="nav-item sidenav-li" >
          <a class="nav-link " href="{% url 'wallet' %}"><img src="{% static 'wallet.svg' %}" class="logo" alt="Wallet-logo" /><span class="sidenav-span">&nbsp;Wallet</span></a>
          </li>
          <li class="nav-item sidenav-li" style="background-color: #2ad2be50;border-radius:5px; padding:1% 5%;">
          <a class="nav-link" href="{% url 'notification' %}"><img src="{% static 'notification.svg' %}"class="logo" alt="Notification-logo" /> <span class="sidenav-span">Notification</span></a>
          </li>
          <li class="nav-item sidenav-li">
          <a class="nav-link " href="{% url 'signout' %}"><img src="{% static 'logout.svg' %}" class="logo" alt="Logout-logo" /><span class="sidenav-span">&nbsp;Logout</span></a>
          </li>
      </ul>
      <div class="sidenav-ul-mobile">
          <div class="menu-box">
              <a href="{% url 'scanner' %}">
                  <img src="{% static 'scanner_green.svg' %}" class="logo" alt="Notification-logo" />
                  <div class="sidenav-inner-div">Scanner</div>
              </a>
          </div>
          <div class="menu-box" >
              <a href="{% url 'wallet' %}" >
                  <img src="{% static 'wallet-white.svg' %}" class="logo" alt="Wallet-logo" />
                  <div class="sidenav-inner-div">Wallet</div>
              </a>
          </div>
          <div class="menu-box" >
              <a href="{% url 'dashboard' %}">
                  <img src="{% static 'home-white.svg' %}" class="logo" alt="Profile-logo" />
                  <div class="sidenav-inner-div">Home</div>
              </a>
          </div>
          <div class="menu-box">
              <a href="{% url 'profile' %}">
                  <img src="{% static 'profile-white.svg' %}" class="logo" alt="Profile-logo" />
                  <div class="sidenav-inner-div">Profile</div>
              </a>
          </div>
          <div class="menu-box" >
              <a href="{% url 'signout' %}">
                  <img src="{% static 'logout-white.svg' %}" class="logo" alt="Logout-logo" />
                  <div class="sidenav-inner-div">Logout</div>
              </a>
          </div>
      </div>
    </nav>
    <div class="dashboard-inner" style="float:right">
      <div class="row dashboard-home-inner">
          {% if notification %} 
          <div class="card" style="width:60%;background-color:rgba(56,200,232,.30);">
              <div class="card-body">
                <div style="display: flex; justify-content: space-between;">
                  <h6 style="font-weight: 400; width:25%;">Sender</h6>
                  <h6 style="font-weight: 400;width:50%;text-align: left;">Message</h6>
                  <h6 style="font-weight: 400;width:25%; text-align: right;">Date</h6>
                </div>
              </div>
          </div>
          <!-- accordion start here -->
          
          {% for item in notification %}
          <div id="accordion" style="width:60%;">
              <div class="card" style="width:100%;border-bottom:2px solid rgba(56,200,232,.30); border-radius: 0;">
                <div class="card-header" id="heading{{item.id}}" style="padding:0; height:50px;">
                  <div class="card-body" data-toggle="collapse" data-target="#collapse{{item.id}}" aria-expanded="true" aria-controls="collapse{{item.id}}">
                      <div style="display: flex; justify-content: space-between;">
                          <h6 style="font-weight: 500;font-size: 0.8rem;width:25%">{{item.sender}}</h6>
                          <h6 style="font-weight: 500;font-size: 0.8rem; width:50%;text-align: left;">{{item.header}}</h6>
                          <h6 style="font-weight: 500; font-size: 0.8rem; text-align: right;width:25%">{{item.date_added_normal}}</h6>
                      </div>
                    </div>
                </div>
            
                <div id="collapse{{item.id}}" class="collapse" aria-labelledby="heading{{item.id}}" data-parent="#accordion">
                  <div class="card-body">
                      {{item.message}}
                  </div>
                </div>
              </div>
  
          </div>
          {% endfor %}
          {% else %}
          <div class='text-center alert alert-info' style="margin-top:50px;">You dont have any Notification for now. Thanks!</div>
          {% endif %}
          <!-- accordion ends here -->
          
      </div>
      
      <!-- mobile -->
      <div class="dashboard-home-inner-mobile">
          <div class="reg-header text-center"></a>Scanner</div>
          <div class="col-12">
            <button type="button" onclick="listcamera()">List cameras</button>
            <div id="reader" width="600px"></div>
            <div id="qr-reader-results"></div>
            <!-- <div id="qr-reader" style="width:100%; margin-top:5vh;"></div>
            <div id="qr-reader-results"></div> -->
          </div>
          
      </div>
  
     
          
    </div>
  </div>

    <script type="text/javascript">

function listcamera() {
	Html5Qrcode.getCameras().then(cameras => {
		if (cameras && cameras.length) {
			cameraId = cameras[0].id;
			scan(cameraId);
		}
		
	}).catch(err => {
			// handle err 
				alert(err);
	});
}

function scan(cameraId) {
const html5Qr = new Html5Qrcode("reader");
html5Qr.start(
   cameraId, // retreived in the previous step.
   {
      fps: 10,    // sets the framerate to 10 frame per second 
      qrbox: 250  // sets only 250 X 250 region of viewfinder to
                  // scannable, rest shaded.
 },
 qrCodeMessage => {     // do something when code is read. For example:
     console.log(`QR Code detected: ${qrCodeMessage}`);
     var resultContainer = document.getElementById('qr-reader-results');
     var lastResult, countResults = 0;
     if (qrCodeMessage !== lastResult) {
        ++countResults;
        lastResult = qrCodeMessage;
        resultContainer.innerHTML 
            += `<div>[${countResults}] - ${qrCodeMessage}</div>`;
    }
 },
 errorMessage => {     // parse error, ideally ignore it. For example:
     console.log(`QR Code no longer in front of camera.`);
     var resultContainer = document.getElementById('qr-reader-results');
     resultContainer.innerHTML 
            += `<div>Not reading from the Scanner</div>`;
 })
 .catch(err => {     // Start failed, handle it. For example, 
     console.log(`Unable to start scanning, error: ${err}`);
 });
}



    </script>

{% endblock %}








