{% extends "dashboard_layout.html" %}
{% block body%}
{% load static %}
<style>
    #qr-reader__dashboard_section_csr > div > button{
        background: #38C8E8;
        border-radius: 10px;
        width: 80%;
        color:#fff;
        height: 42px;
        margin-top: 78px;
        font-size: 0.75rem;
        border-color: transparent;
    }
    #qr-reader > div > span{
        /* display: none!important; */
    }
    #qr-reader > div{
        border:0!important;
    }
    #qr-reader__scan_region{
        max-height:110px;
    }
    #qr-reader{
        border:0!important;
    }
</style>
<div class="row">
    <nav class="sidenav">
      
      <ul class="navbar-nav mr-auto sidenav-ul">
          <li class="nav-item sidenav-li" >
              <a class="nav-link" href="{% url 'dashboard' %}"><img src="{% static 'home.svg' %}" class="logo" alt="Home-logo" /><span class="sidenav-span">&nbsp;Home</span></a>
          </li>
          <li class="nav-item sidenav-li">
          <a class="nav-link" href="{% url 'profile' %}"><img src="{% static 'profile.svg' %}" class="logo" alt="Profile-logo" /> <span class="sidenav-span">Profile</span></a>
          </li>
          <li class="nav-item sidenav-li" >
          <a class="nav-link " href="{% url 'wallet' %}"><img src="{% static 'wallet.svg' %}" class="logo" alt="Wallet-logo" /><span class="sidenav-span">&nbsp;Wallet</span></a>
          </li>
          <li class="nav-item sidenav-li" style="background-color: #2ad2be50;border-radius:5px; padding:1% 5%;">
          <a class="nav-link" href="{% url 'notification' %}"><img src="{% static 'notification.svg' %}"class="logo" alt="Notification-logo" /> <span class="sidenav-span">Notification</span></a>
          </li>
          <li class="nav-item sidenav-li">
          <a class="nav-link " href="{% url 'signout' %}"><img src="{% static 'logout.svg' %}" class="logo" alt="Logout-logo" /><span class="sidenav-span">&nbsp;Logout</span></a>
          </li>
      </ul>
      <div class="sidenav-ul-mobile">
          <div class="menu-box">
              <a href="{% url 'scanner' %}">
                  <img src="{% static 'scanner_green.svg' %}" class="logo" alt="Notification-logo" />
                  <div class="sidenav-inner-div">Scanner</div>
              </a>
          </div>
          <div class="menu-box" >
              <a href="{% url 'wallet' %}" >
                  <img src="{% static 'wallet-white.svg' %}" class="logo" alt="Wallet-logo" />
                  <div class="sidenav-inner-div">Wallet</div>
              </a>
          </div>
          <div class="menu-box" >
              <a href="{% url 'dashboard' %}">
                  <img src="{% static 'home-white.svg' %}" class="logo" alt="Profile-logo" />
                  <div class="sidenav-inner-div">Home</div>
              </a>
          </div>
          <div class="menu-box">
              <a href="{% url 'profile' %}">
                  <img src="{% static 'profile-white.svg' %}" class="logo" alt="Profile-logo" />
                  <div class="sidenav-inner-div">Profile</div>
              </a>
          </div>
          <div class="menu-box" >
              <a href="{% url 'signout' %}">
                  <img src="{% static 'logout-white.svg' %}" class="logo" alt="Logout-logo" />
                  <div class="sidenav-inner-div">Logout</div>
              </a>
          </div>
      </div>
    </nav>
    <div class="dashboard-inner" style="float:right">
      <div class="row dashboard-home-inner">
          {% if notification %} 
          <div class="card" style="width:60%;background-color:rgba(56,200,232,.30);">
              <div class="card-body">
                <div style="display: flex; justify-content: space-between;">
                  <h6 style="font-weight: 400; width:25%;">Sender</h6>
                  <h6 style="font-weight: 400;width:50%;text-align: left;">Message</h6>
                  <h6 style="font-weight: 400;width:25%; text-align: right;">Date</h6>
                </div>
              </div>
          </div>
          <!-- accordion start here -->
          
          {% for item in notification %}
          <div id="accordion" style="width:60%;">
              <div class="card" style="width:100%;border-bottom:2px solid rgba(56,200,232,.30); border-radius: 0;">
                <div class="card-header" id="heading{{item.id}}" style="padding:0; height:50px;">
                  <div class="card-body" data-toggle="collapse" data-target="#collapse{{item.id}}" aria-expanded="true" aria-controls="collapse{{item.id}}">
                      <div style="display: flex; justify-content: space-between;">
                          <h6 style="font-weight: 500;font-size: 0.8rem;width:25%">{{item.sender}}</h6>
                          <h6 style="font-weight: 500;font-size: 0.8rem; width:50%;text-align: left;">{{item.header}}</h6>
                          <h6 style="font-weight: 500; font-size: 0.8rem; text-align: right;width:25%">{{item.date_added_normal}}</h6>
                      </div>
                    </div>
                </div>
            
                <div id="collapse{{item.id}}" class="collapse" aria-labelledby="heading{{item.id}}" data-parent="#accordion">
                  <div class="card-body">
                      {{item.message}}
                  </div>
                </div>
              </div>
  
          </div>
          {% endfor %}
          {% else %}
          <div class='text-center alert alert-info' style="margin-top:50px;">You dont have any Notification for now. Thanks!</div>
          {% endif %}
          <!-- accordion ends here -->
          
      </div>
      
      <!-- mobile -->
      <div class="dashboard-home-inner-mobile">
          <div class="reg-header text-center"></a>Scanner</div>
          <div class="col-12">
            <div id="qr-reader" style="width:100%; margin-top:5vh;"></div>
            <input id="geo2" name="geo2" type="text" value="55.8627,4.2433" hidden>
            
              {% if userman %}
              {% for item in userman %} 
              <form name="form" action="#" id="form_have_product" method="POST">
                {% csrf_token %}
                <input name="recipient" id="recipient_{{item.email}}" type="text" value="{{item.email}}" hidden />
                <input name="amount" id="amount" type="text" value="0.99" hidden/>
                <input name="qrcode" id="qrcode" type="text" hidden/>
            </form>
            {% endfor %}
            {% else %}

          {% endif %}
            
          </div>
          
      </div>
  
     
          
    </div>
  </div>
   <!-- Add Pickup Modal -->
<div class="modal fade" id="scanModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Scanner Result</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="span-y">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
            <div class="col-12" style="text-align: center;">
                <img src="{% static 'success.svg' %}" class="logo" alt="scan-logo" class="mt-5 mb-3" />
                    <div id="qr-reader-results" style="display: none;"></div>
                    <!-- <h5 class="mb-5 mt-1" style="color: #1773A6;">You have just earned <img class="img-fluid" style="width:25px;" src="{% static 'wastecoin-currency.svg' %}" class="logo" alt="allocation-logo" /> 0.99</p></h5> -->
                    <!-- <h5 style="color: #1773A6;" class="mb-5 mt-1" >Recycle and earn</h5> -->
                    <!-- <h5></h5> -->
                    <h6 style="color: #01920d70; font-size:0.9rem;" class="mb-3 mt-1" id="qrcode_messaging"></h6>
                    <h6 style="color: #a6177b; font-size:0.9rem;" class="mb-3 mt-1" id="messaging"></h6>
                    <h6 style="color: #1773A6;" class="mb-3 mt-1">Kindly locate the closest Recycling hub to your current location</h6>
                    <div class="row">
                        <div style="display: flex; justify-content: left;width:100%;">
                            <div style="width:10%; padding:10px 5px;"><img class="img-fluid" src="{% static 'location.svg' %}"  class="logo" alt="allocation-logo" /></div>
                            <div style="width:70%; text-align: left; padding-left:20px; line-height: 2.8rem;">Current Location</div>
                        </div>
                        <div style="display: flex; justify-content: left;width:100%;">
                            <div style="width:10%; padding:10px 5px;"><img class="img-fluid" src="{% static 'location2.svg' %}"  class="logo" alt="allocation-logo" /></div>
                            <div style="width:70%; text-align: left; padding-left:20px;">HGB4, Sterling street, Glasgow</div>
                            <div style="width:20%; text-align: left;"><h5 style="color: #1773A6; font-size:0.9rem; line-height: 2.2rem;" id="dis" ></h5></div>
                        </div>
                    </div>
                    
                    
            </div>
        </div>
      </div>
    </div>
  </div>

    <script type="text/javascript">

        var resultContainer = document.getElementById('qr-reader-results');
        var amountContainer = document.getElementById('amount');

        function onScanSuccess(qrCodeMessage) {
            if (qrCodeMessage) {
                var qrcode = document.getElementById('qrcode').value =qrCodeMessage;
                console.log("qrcode: "+ qrcode);
                $.ajax({
                    url:'/send_coins_scanner/',
                    type:'POST',
                    data: $('#form_have_product').serialize(),
                    success:function(response){
                        console.log(response);
                        var amount = 0.99;
                        if (navigator.geolocation) {
                            navigator.geolocation.getCurrentPosition(showPosition, showError);
                        } else {
                            var status = document.getElementById("demo");
                            status.innerHTML = "Geolocation is not supported by this browser.";
                        }
                        resultContainer.innerHTML 
                            += `<div> ${qrCodeMessage}</div>`;
                            var amountContainer = document.getElementById('amount');
                            amountContainer.innerHTML = amount;
                            openModal(response);
                        
                    },
                    error:function(e){
                        console.log(e);
                    },
                });
                
            }
            
        }
        function openModal(scan_result){
            $('#messaging').text(scan_result.message);
            // $('#amount').text(scan_result.amount);
            $('#qrcode_messaging').text("QRCODE: "+scan_result.qrcode);
            $('#scanModal').modal('show');
        };
        var html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess);
        function showPosition(position) {
	    var geoPoint = position.coords.latitude + "," + position.coords.longitude;
	    var geo2 = $("#geo2").val().split(",");
	    var distance = distanceBetween(position.coords.latitude, position.coords.longitude, geo2[0], geo2[1], "K");
	    console.log("geo dis: " + distance);
	    $("#dis").html( distance + "Km");

	  }

	  function distanceBetween(lat1, lon1, lat2, lon2, unit) {
	    var rlat1 = Math.PI * lat1 / 180
	    var rlat2 = Math.PI * lat2 / 180
	    var rlon1 = Math.PI * lon1 / 180
	    var rlon2 = Math.PI * lon2 / 180
	    var theta = lon1 - lon2
	    var rtheta = Math.PI * theta / 180
	    var dist = Math.sin(rlat1) * Math.sin(rlat2) + Math.cos(rlat1) * Math.cos(rlat2) * Math.cos(rtheta);
	    dist = Math.acos(dist)
	    dist = dist * 180 / Math.PI
	    dist = dist * 60 * 1.1515
	    if (unit == "K") {
	      dist = dist * 1.609344
	    }
	    if (unit == "N") {
	      dist = dist * 0.8684
	    }
	    return  Math.ceil(dist)
	  }
 
  


        // show our errors for debuging
        function showError(error) {
            var x = document.getElementById("demo");
            switch (error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "Denied the request for Geolocation. Maybe, ask the user in a more polite way?"
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred :(";
                break;
            }
        }
    </script>

{% endblock %}








